pom.xml
*jar
/lib/
/classes/
/out/
/release/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-env
node_modules/
\#*
\.#*
*~
.nrepl-port
profiles.clj
.cljs_rhino_repl/
.DS_Store
figwheel_server.log
/resources/public/js/